<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>b6c16d51740f63dd89eb40c88629ead2</string>
	<key>apiSecret</key>
	<string>5b31c5555652be3c</string>
</dict>
</plist>
